.top-bar {
    background-color: #002D62;
    height: 50px;
    width: 1200px;
    max-width: 970px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    padding-left: 15px ;
}

.top-bar-text {
  font-weight: 600;
  text-align: center;
}

.card {
    /* border-top-left-radius: 0 !important; 
    border-top-right-radius: 0 !important;      */
    margin-left: 0;    
    flex-grow: 1;
    background-color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.scrollable-form::-webkit-scrollbar {
  width: 8px;
}

.scrollable-form::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}

.scrollable-form::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.form-control {
  border: 1px solid #002D62 !important;
  border-radius: 4px;
}

input[type="radio"] {
  transform: scale(1.1);
  margin-right: .25rem;
}



@media (min-width: 768px) {
  .top-bar,
  .af-card {
    width: calc(100vw - 400px); 
    max-width: 100%;
  }
}

.form-check-input {
  margin-top: 0 !important;
}

.payment-terms-row .col {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}