.subCont {
    width: 340px;
    display: flex;
    flex-direction: column;
}

.CusButton {
    background-color: #002d62;
    border-radius: 50px;
    width: 100%;
    max-width: 340px;
    height: 50px;
    color: white;
    font-size: 19px;
}