.subCont {
    width: 340px;
    display: flex;
    flex-direction: column;
}

.input {
    position: relative;
    width: 100%;
}

.TextLabel {
    font-size: 15px;
    text-align: left;
    margin-bottom: 5px;
}

.inputBox {
    position: relative;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    padding-left: 50px;
    z-index: 1;
}

.icon {
    position: absolute;
    top: 40%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
    color: black;
    
}