.mf-top-bar {
    background-color: #002D62;
    width: 100%;
    max-width: 970px !important;
    height: 50px;
    width: 100%;
    margin-left: 0;
    max-width: 100vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    padding-left: 15px;
}

.mf-card {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    width: calc(100vw - 300px);
    margin-left: 0;
    max-width: none;
    flex-grow: 1;
    
}

.form-control {
    border: 1px solid #002D62 !important;
  border-radius: 4px;
}

@media (min-width: 768px) {
    .top-bar,
    .mf-card {
        width: calc(100vw - 300px);
        max-width: 100%;
    }
}
