.top-bar {
    background-color: #002D62; 
    height: 30px; 
    width: 100%; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    display: flex;
    align-items: center; 
    color: white; 
    font-size: 14px; 
    padding-left: 15px; 
}

.mf-card {
    border-top-left-radius: 0 !important; 
    border-top-right-radius: 0 !important; 
}