.sectionnn {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    padding-left: 200px;
    background-color: white;
}

.profileSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    padding: 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.profilePicture,
.profileNameLoc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profilePicture .card-body,
.profileNameLoc .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profilePicture img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
}

.profilePicture {
    min-height: 270px;
}

.profileNameLoc {
    min-height: 270px;
}

.profileGenInfo {
    padding: 20px 10px;
    padding-left: 50px;
    padding-bottom: 30px;
    width: 100%;
}

.textTitle {
    color: #002d62;
    font-size: 15px;
}

.name {
    font-size: 18px;
}

.text-muted {
    font-size: 16px;
}

.ProfileinputBox {
    height: 50px;
    width: 100%;
    min-width: 0;
    background-color: white !important;
    pointer-events: auto;   
}

.card {
    overflow: hidden;
    word-wrap: break-word;
}

/* Responsive layout */
@media (max-width: 768px) {
    .sectionnn {
        padding-left: 0;
    }

    .profilePicture, .profileNameLoc {
        min-height: auto;
        height: auto;
    }

    .profilePicture img {
        width: 70px;
        height: 70px;
    }

    .container {
        padding-top: 20px;
    }

    .ProfileinputBox {
        height: 75px;
    }
}

.form-select {
    border: 1px solid #002d62;
    width: 300px;
}

