:root {
  --sidebar-width: 200px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: var(--sidebar-width);
  padding-top: 20px;
  background-color: #002d62;
  transition: width 0.3s;
  z-index: 1000;
}

.navlogo {
  width: 70%;
  height: auto;
  margin: 1rem auto;
  display: block;
  transition: all 0.3s ease;
}

.label {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

/* Hide label and text on small screens */
@media (max-width: 768px) {
  :root {
    --sidebar-width: 60px;
  }
  .sidebar {
    width: var(--sidebar-width);
  }
  .navlogo {
    width: 50%;
  }
  .label,
  .sidebar .description {
    display: none;
  }
  .sidebar .nav-link {
    justify-content: center;
  }
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar .nav-link.active {
  background-color: #004080;
  color: #ffffff;
}

.sidebar .nav-link:hover {
  background-color: #004080;
  color: white;
}

.Navicon i {
  font-size: 1.2rem;
}

.sidebar-settings-panel {
  position: fixed;
  top: 0;
  left: var(--sidebar-width); /* dynamically aligns with sidebar width */
  width: 350px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  z-index: 1050;
  padding-bottom: 20px;
  transition: left 0.3s ease;
}
