html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Remove scrollbars */
}

/* Hide scrollbars visually */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.home-wrapper {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  flex: 1;
  overflow: hidden;
}

.home-content {
  flex: 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Your existing styles */
.logo-text-container {
  gap: 10px;
}

.logo-image {
  width: 300px;
  max-width: 90%;
  height: auto;
  margin-bottom: 0.25rem;
}

.nameOne {
  white-space: nowrap;
  font-size: 2.5rem;
  margin-bottom: 4px;
}

.nameTwo {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.home-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;  
  gap: 0.25rem; 
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: normal;
  align-items: center;
}

@media (max-width: 768px) {
  .logo-image {
    width: 150px;
  }

  .text-block {
    text-align: left;
  }

  .nameOne {
    font-size: 1.2rem;
  }

  .nameTwo {
    font-size: 1.8rem;
  }
}
