.sidebar {
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    background-color: #002d62;
    transition: width 0.3s;
}

.navlogo {
    width: 70%;
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
    display: block;
    transition: all 0.3s ease;
}

.label {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
    transition: all o.3s ease;
}

.sidebar-collapsed .label {
    display: none;
}

@media (max-width: 768px) {
    .label {
        display: none;
    }
}

.sidebar-collapsed .navlogo img {
    width: 60%;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: white;
}

.sidebar .description {
    font-size: 16px;
}

.sidebar .nav-link:hover {
    background-color: #004080;
    color: white;
}

@media (max-width: 480px) {
    .sidebar {
        width: 60px;
    }

    .sidebar .description {
        display: none;
    }

    .sidebar .nav-link {
        justify-content: center;
    }
}