.bold-icon {
    font-size: 45px; 
    font-weight: bold; 
}

.click-effect {
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.click-effect:active {
    transform: scale(0.88); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

